<!DOCTYPE 
    HTML
    PUBLIC
    "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">




<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="{print content('info')/}">
    <meta name="keywords" content="{print content('keywords')/}">
    <title>
      {print content('title')/}{print cateinfo('cate_title_seo')/}_{print webinfo('web_name')/}
    </title>
    <link href="{path template/}/images/style.css" rel="stylesheet" type="text/css">
    <link href="{path template/}/images/main.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{path template/}/images/jquery.js">
    </script>
    <script type="text/javascript" src="{path template/}/images/nav.js">
    </script>
  </head>
  <body>
    {include head2/}
    <div class="mainPageStyle">
      <div id="container">

        <!-- 二级分类 -->
        {assign source=get_tpl_list_nav() name=tree/} {if $tree}
        <ul>
          <div id="subCategory">
            {loop source=$tree item=$nav}
            <li style="display: block; height: 45px; line-height: 45px; padding: 0 13px; float: left; display: inline">
            <a 
                class="{print $nav['class']/}"
                href="{print $nav['url']/}"
                {print
                $nav['target']/}
                title="{print $nav['cate_name']/}">




              {print $nav['cate_name']/}
            </a>
          </li>
          {/loop}
        </div>
      </ul>

      {/if}
      <!-- 当前位置 -->
      <div id="position">
        <span>
          当前位置:{position source=position/} > 内容列表
        </span>
      </div>
      <div class="clear">
      </div>



      <div id="mainContent">
        <div id="mainContent_article_list">
          <div class="box_in">
            <p class="title" style="">
              {print content('title')/}
            </p>
            <p class="info">
              <span>
                点击次数:
                <script language="javascript" src="{path includes/}/hits.php?id={print content('id')/}">
                </script>
              </span>
              <span>
                更新时间:{print date('Y-m-d H:m:s',content('updatetime'))/}
              </span>
              <span>
                <a href="javascript:window.print()">
                  【打印】
                </a>
              </span>
              <span>
                <a href="javascript:self.close()">
                  【关闭】
                </a>
              </span>
            </p>
            <div class="arc_info">
              {print content('info')/}
            </div>
            <!--摘要-->
            <div class="arc_body">
              <table width='100%'>
                <tr>
                  <td>
                    {print content('content')/}
                  </td>
                </tr>
              </table>
            </div>
            <div class="page_fy" style="float: none; margin-left: 300px;">
              {print body_pages()/}
            </div>
            {assign source=get_content_key() name=bq/} {if $bq}
            <div class="bq">
              相关标签：{loop source=$bq}
              <a href="{print $v['url']/}" target="_blank">
                {print $v['name']/}
              </a>
              {/loop}
            </div>
            {/if}
            <!--
              <div class="arc_link" style="clear: both"> <span>{print content('prev')/}</span><span>{print
              content('next')/}}</span </div>
            -->
          </div>
          <div>
            <p style="font-size:15px;font-weight: bold; font-color:#097391;float:right; margin-right:10px;">
              <span>
                <a href="javascript:window.print()" style="color:#097391;">
                  【打印】
                </a>
              </span>
              <span>
                <a href="javascript:self.close()" style="color:#097391;">
                  【关闭】
                </a>
              </span>
            </p>
          </div>
          <div class="clear">
          </div>

          <div>
            {assign
            source=get_else_content($cate_id=$nav_child['id'],$limit='0,5',$order_type='updatetime',$filter='',$pic='no',$order='desc',$lang='')
            name=hot_arc/} {if $hot_arc}
            <ul style="border-bottom: 1px solid #7096cc;">
              <li 
                  style="font-size: 14px; background:#f7fafe; height:28px;line-height:28px; border-top:1px solid #7096cc; border-bottom: 1px solid #e4e4e4;">


              相关信息
            </li>
            {loop source=$hot_arc}
            <li style="font-size: 14px; height:40px;height:28px;line-height:28px;border-bottom: 1px solid #e4e4e4;">
            <a 
                title="{print $v['title']/}"
                href="{print $v['url']/}"
                {print
                $v['target']/}
                {if
                $v['style']}
                style="{print $v['style']/}"
                {/if}>
              {print cn_substr($v['title'],50)/}
            </a>
          </li>
          {/loop}
         
        </ul>
        {/if}
        
      </div>
    </div>

    <!-- 右侧广告 -->
    <div id="mainContent_r">
      <div id="mainContent_r_grid">
        {right_ad1/}
      </div>
      <div id="mainContent_r_grid">
        {right_ad2/}
      </div>
      <div id="mainContent_r_grid">
        {right_ad3/}
      </div>
    </div>
    <div class="clear">
    </div>

  </div>
</div>
</div>

{include foot/}
</body>
</html>
