<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="{print content('info')/}">
<meta name="keywords" content="{print content('keywords')/}">
<title>{print content('title')/}_{print webinfo('web_name')/}</title>
<link href="{path template/}/images/style.css" rel="stylesheet"
	type="text/css">
<link href="{path template/}/images/main.css" rel="stylesheet"
	type="text/css">
<script type="text/javascript" src="{path template/}/images/jquery.js"></script>
<script type="text/javascript" src="{path template/}/images/nav.js"></script>
</head>
<body>
	{include head2/}
	
		<div class="mainPageStyle">
		<div id="container">

			<!-- 二级分类 -->
			{assign source=get_tpl_list_nav() name=tree/} {if $tree}
			<div id="subCategory">

				{loop source=$tree item=$nav} <a class="{print $nav['class']/}"
					href="{print $nav['url']/}"
					{print $nav['target']/} 
                    	title="{print $nav['cate_name']/}">
					{print $nav['cate_name']/} </a> {/loop}

			</div>
			{/if}

			<!-- 当前位置 -->
			<div id="position">
				<span>当前位置:{position source=position/} > 内容列表</span>
			</div>
			<div class="clear"></div>

			<!-- 当前分类所有文章及右侧广告 -->
			<div id="mainContent">
			{getPostParm selProd/}
				<div class="order_contain">
					<form name="maininfo" method="post" enctype="multipart/form-data"
						action="{path alone/}/alone.php" class="form">
						<div class="order_main">
							<table cellpadding="0" cellspacing="0" width="100%">
								<tbody>
									<tr>
										<td style="width: 40%; text-align: center" class="w1">选择产品（间隔30秒可重新获取价格图表）：
											<p style="color: #999999; font-weight: normal"></p>
										</td>
										<td style="width: 20%">
											<select name="product_id">
												{assign source=get_products_for_price() name=category/}
												{if empty($category)}
												   <option value="">no item</option>
												{else}
													{loop source=$category item=$v}
													<option value={print $v['id']/}  {if $selProd==$v['id']} {print 'selected="selected"'/} {/if}>{print $v['cate_name']/}</option>
													{/loop}
												{/if}

											</select>
										</td>
										<td style="width: 40%" >
										<!-- <input type="hidden" name="action" value="add_data" /> -->
										 <input type="submit" value="确定" name="submit" />
										 <input type="reset" style="margin: 0 10px;" value="重置" name="reset" />
								</td>
									</tr>
									
								
								</tbody>
							</table>
						</div>
						
					</form>
				</div>

				<!-- 当前分类所有文章 -->
				<div id="mainContent_article_list">
					<div>
						<img src="{path includes/}/price_gd.php?product_id={print $selProd/}" />
					</div>

<!-- 					<div class="list_page">
						<div class="page_fy">{print list_page()/}</div>
					</div>
					<div class="clear"></div> -->
				</div>

				<!-- 右侧广告 -->
				<div id="mainContent_r">
					<div id="mainContent_r_grid">{right_ad1/}</div>
					<div id="mainContent_r_grid">{right_ad2/}</div>
					<div id="mainContent_r_grid">{right_ad3/}</div>
				</div>
				<div class="clear"></div>

			</div>
		</div>
	</div>
	{include foot/}
	
	
</body>
</html>